<h1>Estadísticas</h1>

<p>Tu nombre es <%= @user.name %></p><br>
<p>Has jugado <%= @user.games_played %> juegos</p><br>
<p>Tus estadísticas son: </p><br>
<p>Tu porcentaje es: <%= @round.percentage %>%</p><br>
<p>Fallaste <%= @round.mistakes %> preguntas</p><br>
<p>Atinaste <%= @round.hits %> preguntas</p><br>
<form method="get" action="/profile">
  <p class="submit"><input type="submit" name="commit" value="Back"></p>
</form>
